<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-sm-5">
                  <button class="btn btn-primary" type="button"><i class="icon-plus icons"></i>&nbsp;Thêm</button>
              </div>
            <div class="col-sm-3">
              
                <select class="form-control form-control-sm" id="modules" [(ngModel)]="selectedModule.code" (input)="selectModule($event)">
                    <option *ngFor="let module of modules" value={{module.code}}>{{module.title}}</option>
              </select>
             
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input class="form-control" [(ngModel)]="config.keyword" (keyup.enter)="filter()" id="input2-group2" name="input2-group2"
                  placeholder="Tìm kiếm" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-primary" (click)="filter()"  type="button"><i class="fa fa-search"></i></button>
                  </span>
              </div>
            </div>
           
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table data-grid">
            <thead>
              <tr>
                <th class="index-col">STT</th>
                <th>MÃ</th>
                <th>TÊN TRẠNG THÁI</th>

                <th>TRẠNG THÁI</th>
                <th class="func-col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let status of statuses;let i = index">
                <td class="center-col">{{i+1}}</td>
                <td class="center-col">{{status.code}}</td>
                <td>{{status.title}}</td>
                <td class="center-col">
                  <span [ngClass]="status.active?'badge badge-success':'badge badge-secondary'">{{status.active | convertActive:"Active":"Inactive"}}</span>
                </td>
                <td>
                  <div ngbDropdown placement="bottom-right" class="d-inline-block">
                    <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                            <i class="icon-options-vertical icons"></i>
                        </button>
                    <div ngbDropdownMenu>
                      <button class="dropdown-item">Chỉnh sửa</button>
                      <button class="dropdown-item">Xóa</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination class="pull-right" [collectionSize]="config.collectionSize" (pageChange)="changePage($event)" [(pageSize)]="config.recordsPerPage"
            [(page)]="config.currentPage" [maxSize]="config.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>

    </div>
  </div>
</div>