<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">a</div>
              </div>
          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>MÃ</th>
                    <th>TÊN TRẠNG THÁI</th>
                    <th>PHÂN HỆ</th>
                    <th>TRẠNG THÁI</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>ready</td>
                    <td>Sử dụng</td>
                    <td>Quản lý sản phẩm</td>
                    <td>
                      <span class="badge badge-success">Sử dụng</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>pending</td>
                      <td>Ngừng bán</td>
                      <td>Quản lý sản phẩm</td>
                      <td>
                        <span class="badge badge-secondary">Không sử dụng</span>
                      </td>
                      <td></td>
                    </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
</div>